.text-wrap[data-v-881125ce]{word-wrap:break-word}.small.text-body-secondary.fw-semibold[data-v-881125ce]{padding-left:.25rem}.months-menu[data-v-881125ce],.weeks-menu[data-v-881125ce]{max-height:320px;overflow:auto}
