.text-wrap[data-v-b6240fdf]{word-wrap:break-word}.small.text-body-secondary.fw-semibold[data-v-b6240fdf]{padding-left:.25rem}.months-menu[data-v-b6240fdf],.weeks-menu[data-v-b6240fdf]{max-height:320px;overflow:auto}
