.text-wrap[data-v-866f26d5]{word-wrap:break-word}.small.text-body-secondary.fw-semibold[data-v-866f26d5]{padding-left:.25rem}.months-menu[data-v-866f26d5],.weeks-menu[data-v-866f26d5]{max-height:320px;overflow:auto}
