.text-wrap[data-v-3bc3af84]{word-wrap:break-word}.small.text-body-secondary.fw-semibold[data-v-3bc3af84]{padding-left:.25rem}.months-menu[data-v-3bc3af84],.weeks-menu[data-v-3bc3af84]{max-height:320px;overflow:auto}
