.text-wrap[data-v-2aa6d9b8]{word-wrap:break-word}.small.text-body-secondary.fw-semibold[data-v-2aa6d9b8]{padding-left:.25rem}.months-menu[data-v-2aa6d9b8],.weeks-menu[data-v-2aa6d9b8]{max-height:320px;overflow:auto}
