.text-wrap[data-v-c5ac5b96]{word-wrap:break-word}.small.text-body-secondary.fw-semibold[data-v-c5ac5b96]{padding-left:.25rem}.months-menu[data-v-c5ac5b96],.weeks-menu[data-v-c5ac5b96]{max-height:320px;overflow:auto}
