.text-wrap[data-v-0131553b]{word-wrap:break-word}.small.text-body-secondary.fw-semibold[data-v-0131553b]{padding-left:.25rem}.months-menu[data-v-0131553b],.weeks-menu[data-v-0131553b]{max-height:320px;overflow:auto}
