server:
  port: 6060
  servlet:
    context-path: /

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/hospital_requirements?useSSL=false&useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        jdbc.time_zone: Asia/Shanghai
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

app:
  jwt:
    secret: "change-this-to-a-long-random-secret-please"
    expireHours: 8
  upload-dir: ./data/uploads
  allow-origins: http://localhost:5173,http://localhost:6060,http://10.99.99.20,http://10.99.99.20:6060

logging:
  level:
    org.springframework.security: INFO
    com.hospital.req: DEBUG
